  
  <div class="container">
    <div class="grp" id="about" style="overflow-y: scroll;">
        <h2>About</h2>
        <p>
            This project is a part of Project Competition 2021 orgranized by Department of Information Technlogy, Techno Main Salt Lake, Kolkata. This project includes sentiment analysis of movie reviews using feature-based opinion mining and supervised machine learning. In this project, the main focus is to determine the polarity of reviews using nouns, verbs, and adjectives as opinion words. And classify them into two different categories, either positive or negative review.
        </p>
        Used html, Css, Javascript for interface design and Flask framework is used for simple web application which is deployed on Heroku.
        <br>

        <h3>Tech Stack Used</h3>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>Html, Css, Javascript</li>
            <li>Gunicorn</li>
            <li>Heroku</li>
        </ul>
        <br>Faculty Mentor: Mr. Proloy Biswas
        <br>Alumni Mentor: Mr. Sourav Mondal
        <br>
        </br>Group Members:
        <ul>
            <li>Shashank Barnwal</li>
            <li>Varun Kumar Mishra</li>
            <li>Saranya Roy</li>
            <li>Prity Kumari</li>
        </ul>
    </div>
</div>